<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildFrameworkWithObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Form.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BADC0CA51C19AC4B00AB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC0CBE1C19AC4B00AB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC0CC91C19AC4B00AB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC0CE01C19AD9D00AB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BADC0CE91C19AD9E00AB58FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
